In [3]:
name = "viraj"
print("my name is " + name)

my name is viraj

In [4]:
print(type(name))

<class 'str'>

In [11]:
age = 21
print("viraj's age is :" + age)

viraj's age is :21

In [10]:
age = 21
print("viraj's age is :" + str(age))

viraj's age is :21

In [14]:
a = True
type(a)
 
b = False
type(b)

bool

MULTIPLE ASSIGNMENTS

In [16]:
name = "bro"
age = 21
attractive = True 

print(name)
print(age)
print(attractive)

bro
21
True

In [17]:
name, age, attractive = "bro", 21, True

STRING METHODS

In [18]:
name = "VIRAJ"

In [19]:
len(name)

5

In [20]:
name.find("I")

1

In [21]:
name.lower()

'viraj'

In [22]:
name.capitalize()

'Viraj'

In [23]:
name.isdigit()

False

In [24]:
name.isalpha() #alphabetical characters

True

In [25]:
name.replace("j","J")

'VIRAJ'

In [26]:
name*3

'VIRAJVIRAJVIRAJ'

TYPECASTING

In [27]:
Y = 3.5
Y

3.5

In [28]:
int(Y)

3

In [30]:
z = "3"
z*3

'333'

In [35]:
 int(z)*3

9

USER INPUT

In [1]:
name = input("what is your name ") #always is string dataTYPE

what is your name viraj

In [3]:
age = int(input("what is your age "))

what is your age 21

In [4]:
print("your name is "+ str(name)+ " & your age is "+ str(age))

your name is viraj & your age is 21

In [5]:
height = float(input("how tall are you "))

how tall are you 186.5

In [10]:
print (" your name is "+ str(name) + ", you are " + str(age) + "years old"+ " & your height is " + str(height))

 your name is viraj, you are 21years old & your height is 186.5

FUNCTIONS FOR NUMBERS

In [11]:
import math

In [12]:
print(round(3.14))

3

In [13]:
pi = 3.14

In [14]:
math.ceil(pi)

4

In [16]:
math.floor(pi)

3

In [17]:
abs(pi)

3.14

In [19]:
pow(pi,2) #power or raised to

9.8596

In [20]:
math.sqrt(169)

13.0

In [21]:
max(1,2,3)

3

In [22]:
min(1,2,23)

1

STRING SLICING

In [23]:
#[START:STOP:STEP]

In [24]:
name

'viraj'

In [25]:
string1 = "viraj  is pursuing engineering"

In [27]:
newstring = string1[0]
newstring

'v'

In [29]:
string2 = string1[0:5]
string2

'viraj'

In [35]:
string3 = string1[0::2]
string3

'vrj sprun niern'

In [38]:
#reverse a string
string3 = string1[::-1]
string3

'gnireenigne gniusrup si  jariv'

In [52]:
website = "http://google.com"

website[7:-4]

'google'

IF ELSE

In [54]:
age =  int(input("how old are you : "))
if 60>age>18:
    print("you are an adult")
elif age>60:
    print("buddha hain tu")
else:
    print("bacha hain tu")

how old are you : 65
buddha hain tu

LOGICAL OPERATORS

In [60]:
 temp = int(input("whats is the temparature: "))
if temp>=0 and temp<=30:
    print("the temperature is good!")
elif temp>30 or temp<0:
    print("avoid going outside")
else:
    print("the temperature is perfect!")

whats is the temparature: 55
avoid going outside

LOOPS IN PYTHON1

WHILE

In [4]:
name = ""
while len(name)==0:
    name= input("enter your name :")
print("hello "+ name)

enter your name :
enter your name :
enter your name :
enter your name :VIRAJ
hello VIRAJ

FOR

In [6]:
for i in range(10):
    print(i*5)

0
5
10
15
20
25
30
35
40
45

In [7]:
for i in range(50,60):
    print (i)

50
51
52
53
54
55
56
57
58
59

In [9]:
for i in range(50,60+1,2):
    print(i)

50
52
54
56
58
60

In [ ]:


for seconds in range(10,0,-1):
    print(seconds)
    time.sleep(1)
print("happy new year")