NESTED LOOPS

In [5]:
 #RECTANGLE
for i  in range(5):
    for j in range(5):
        print("*", end="")
    print()

*****
*****
*****
*****
*****

LOOP CONTROL STATEMENTS

In [6]:
while True:
    name = input("enter your name: ")
    if name!="":
        break

enter your name:
enter your name:
enter your name:
enter your name:
enter your name:
enter your name:
enter your name:
enter your name:
enter your name: viraj

In [100]:
phone = "123-456-789"
for i in phone:
    if i == "-":
        continue
    print(i, end="")

123456789

In [15]:
#print numbers between 1 and 20
for i in range(1,21):
    if i == 13:
        pass
    else:
        print(str(i)+" ", end="")

1 2 3 4 5 6 7 8 9 10 11 12 14 15 16 17 18 19 20

LISTS

In [16]:
food=["fruits","vegetables","nuts"]
print(food)

['fruits', 'vegetables', 'nuts']

In [17]:
for x in food:
    print(x)

fruits
vegetables
nuts

FUNCTIONS

In [19]:
food.append("juice")

In [20]:
food

['fruits', 'vegetables', 'nuts', 'juice']

In [21]:
food.pop()
food

['fruits', 'vegetables', 'nuts']

In [23]:
food.insert(1,"juice")
food

['fruits', 'juice', 'juice', 'vegetables', 'nuts']

In [28]:
food.sort()
food

['fruits', 'juice', 'juice', 'nuts', 'vegetables']

In [29]:
food.clear()
food

[]

2D LISTS

In [30]:
drinks= ["coffee","tea","milk"]
dessert=["cake","choclate","tarts"]
dinner = ["pizza","burger","paratha"]
food = [drinks, dessert,dinner]
food

[['coffee', 'tea', 'milk'],
 ['cake', 'choclate', 'tarts'],
 ['pizza', 'burger', 'paratha']]

In [31]:
food[1]

['cake', 'choclate', 'tarts']

In [32]:
food[0][1]

'tea'

TUPLES ORDERED AND UNCHANGAEBLE

In [33]:
student=("viraj",21,"parmaj","muj",9.22,"male","viraj")
student

('viraj', 21, 'parmaj', 'muj', 9.22, 'male', 'viraj')

In [34]:
student.count("viraj")

2

In [36]:
student.index("male")

5

In [37]:
for x in student:
    print (x)

viraj
21
parmaj
muj
9.22
male
viraj

SETS #UNORDERED AND UNINDEXED, faster than sets

In [2]:
utensils = {"fork ", "spoon","plate"}
utensils

{'fork ', 'plate', 'spoon'}

In [3]:
utensils.add("napkin")
utensils

{'fork ', 'napkin', 'plate', 'spoon'}

In [4]:
dishes = {"white","black","green"}

In [5]:
utensils.update(dishes)

In [6]:
utensils

{'black', 'fork ', 'green', 'napkin', 'plate', 'spoon', 'white'}

In [7]:
utensils.remove("black")

In [8]:
utensils

{'fork ', 'green', 'napkin', 'plate', 'spoon', 'white'}

In [9]:
dinner_table = utensils.union(dishes)
dinner_table

{'black', 'fork ', 'green', 'napkin', 'plate', 'spoon', 'white'}

In [10]:
utensils.difference(dishes)

{'fork ', 'napkin', 'plate', 'spoon'}

In [11]:
utensils.intersection(dishes)

{'green', 'white'}

DICTIONARIES UNORDRED MUTABLE

In [12]:
capitals = {'USA':'WASHINGTON','INDIA':'NEW DELHI', 'CHINA':'BEIJING','RUSSIA':'MOSCOW'}

In [14]:
capitals.get('USA')

'WASHINGTON'

In [15]:
capitals.keys()

dict_keys(['USA', 'INDIA', 'CHINA', 'RUSSIA'])

In [16]:
capitals.values()

dict_values(['WASHINGTON', 'NEW DELHI', 'BEIJING', 'MOSCOW'])

In [17]:
for i in capitals.values():
    print(i)

WASHINGTON
NEW DELHI
BEIJING
MOSCOW

In [27]:
for key,value in capitals.items():
    print(key,value)

USA WASHINGTON
INDIA NEW DELHI
CHINA CHING CHO
RUSSIA MOSCOW

In [21]:
capitals.update({'CHINA':'CHING CHO'})

In [23]:
capitals

{'USA': 'WASHINGTON',
 'INDIA': 'NEW DELHI',
 'CHINA': 'CHING CHO',
 'RUSSIA': 'MOSCOW'}

FUNCTION

In [32]:
def hello():
    print("have a nice day!")

In [33]:
hello()

have a nice day!

In [36]:
name = input("enter your name :")
def givelength():
    print("the length of your name is "+str(len(name)))
givelength()

enter your name :viraj
the length of your name is 5

RETURN STATEMENT

In [38]:
def multiply(n1,n2):
    result = n1*n2
    return result

In [39]:
multiply(6,7)

42

In [40]:
def multiply(n1,n2):
    return n1*n2
multiply(6,7)

42

ARGUEMENTS

HAVING MULTIPLE VSLSUES INTO FUNCTIONS, PACK ALL ARGUEMENTS INTO A TUPLE

In [42]:
def add(*args):
    sum=0
    for i in args:
        sum+=i
    return sum
add(1,2,3,4)

10

In [43]:
def add(*KUCHBHI):
    sum=0
    for i in KUCHBHI:
        sum+=i
    return sum
add(1,2,3,4)

10

KWARGS

PACK ALL ARGS INTO A DICTIONARY, CAN ACCEPT VARYING AMOUNT OF KEYWROD ARGS

In [46]:
def hello(**kwargs):
    print("hello"+ kwargs['first']+ " "+ kwargs['middle'] +" "+kwargs['last'])
hello(first="viraj",middle="udayraj",last="parmaj")

helloviraj udayraj parmaj

FORMAT

to format the output

In [48]:
fname="viraj"
lname="parmaj"
print("your name is {} {}".format(fname,lname))

your name is viraj parmaj

In [49]:
print("your name is {1} {0}".format(lname,fname))
print("your name is {0} {1}".format(fname,lname))

your name is viraj parmaj
your name is viraj parmaj

In [52]:
text= "viraj texts {}"
text.format("ishita")

'viraj texts ishita'

In [54]:
#to give some padding
text= "viraj texts {:10} padding"
text.format("ishita")

'viraj texts ishita     padding'

In [60]:
#to give some padding
text= "viraj texts {:<10} left align"
text.format("ishita")

'viraj texts ishita     left align'

In [59]:
#to give some padding
text= "viraj texts {:^10} cenntre align"
text.format("ishita")

'viraj texts   ishita   cenntre align'

In [58]:
#to give some padding
text= "viraj texts {:>10} rightalign"
text.format("ishita")

'viraj texts     ishita rightalign'

for numbers

In [64]:
pi=3.14539
print("the most used vlue of pi is {:.3f}".format(pi))

the most used vlue of pi is 3.145

In [65]:
number=1000

In [66]:
print("the given number is {:.3f}".format(number))

the given number is 1000.000

In [67]:
print("the given number is {:,}".format(number))

the given number is 1,000

In [68]:
print("the given number is {:b}".format(number))

the given number is 1111101000

In [69]:
print("the given number is {:o}".format(number))

the given number is 1750

In [70]:
print("the given number is {:e}".format(number))

the given number is 1.000000e+03

IMPORT RANDOM

In [73]:
import random
x = random.randint(1,7) #between 1 and 7 
y = random.random() #between 0 and 1
print(x)
print(y)

3
0.43550005235508027

In [75]:
my_list=["history","geo","eng","hin","mar"]
z=  random.choice(my_list)
print(z)

hin

In [77]:
cards= [1,2,3,4,5,6,7,8,9,"J","Q","K"]
random.shuffle(cards)
cards

[5, 2, 9, 8, 1, 'Q', 'J', 7, 6, 3, 4, 'K']

EXCEPTION HANDLING

In [80]:
numerator= int(input("enter a number: "))
denominator= int(input("enter a number: "))
result= numerator/denominator
print(result)

enter a number: 5
enter a number: 2
2.5

In [81]:
numerator= int(input("enter a number: "))
denominator= int(input("enter a number: "))
result= numerator/denominator
print(result)

enter a number: 5
enter a number: 0

ZeroDivisionError: division by zero

In [84]:
try:
    numerator= int(input("enter a number: "))
    denominator= int(input("enter a number: "))
    result= numerator/denominator
    print(result)
except Exception:
    print("something went wrong :( Check your number!")

enter a number: 5
enter a number: 0
something went wrong :( Check your number!

In [88]:
try:
    numerator= int(input("enter a number: "))
    denominator= int(input("enter a number: "))
    result= numerator/denominator
    print(result)
except ZeroDivisionError:
    print("something went wrong :( Check your number!")

enter a number: 5
enter a number: 0
something went wrong :( Check your number!

In [90]:
try:
    numerator= int(input("enter a number: "))
    denominator= int(input("enter a number: "))
    result= numerator/denominator
    print(result)
except ValueError:
    print("enter a number please!")

enter a number: 5
enter a number: pi
enter a number please!

In [92]:
try:
    numerator= int(input("enter a number: "))
    denominator= int(input("enter a number: "))
    result= numerator/denominator
except Exception as e:
    print(e)
    print("something went wrong!")
except ZeroDivisionError as e:
    print(e)
    print("denominator cannot be zero")
except ValueError as e:
    print(e)
    print("enter a number please!")
else:
    print (result)

enter a number: 5
enter a number: p
invalid literal for int() with base 10: 'p'
something went wrong!

In [93]:
try:
    numerator= int(input("enter a number: "))
    denominator= int(input("enter a number: "))
    result= numerator/denominator
except Exception as e:
    print(e)
    print("something went wrong!")
except ZeroDivisionError as e:
    print(e)
    print("denominator cannot be zero")
except ValueError as e:
    print(e)
    print("enter a number please!")
else:
    print (result)
finally:
    print("this line will always execute")

enter a number: 5
enter a number: pi
invalid literal for int() with base 10: 'pi'
something went wrong!
this line will always execute

FILE DETECTION

In [101]:
import os

In [105]:
import os

path = r"C:\Users\viraj\OneDrive\Desktop\jai-bom.pdf"

if os.path.exists(path):
    print("Location exists")
    if os.path.isfile(path): #os.path.isdir() to check if it is a directory 
        print("it is a file")
else:
    print("Location doesn't exist")

Location exists
it is a file

READ A FILE

In [108]:

file_path = r"C:\Users\viraj\OneDrive\Desktop\Hi this is viraj.txt"  # Replace with the actual file path

# Open the file in read mode
with open(file_path, 'r') as file:
    # Read the contents of the file
    file_contents = file.read()
    
# Print the file contents
print(file_contents)

Hi this is viraj
Trying to open a text file using python
Do this for the entire summer

In [111]:

try:
    with open(file_path, 'r') as file:
        # Read the contents of the file
        file_contents = file.read()
        print(file_contents)
except FileNotFoundError:
    print("That file was not found")

Hi this is viraj
Trying to open a text file using python
Do this for the entire summer

WRITE A FILE

In [119]:
text= "added a text\n"

with open(file_path, 'a') as file:
        # Read the contents of the file
        new1 = file.write(text)
        print(new1)

13

COPY FILE

In [124]:
import shutil
#copyfile() copies contents of the file
#copy() permission mode + destiantion can be directory + copyfile()
#copy2() copy()+ copies metadata

In [125]:
shutil.copyfile('Hi this is viraj.txt','1.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'Hi this is viraj.txt'